body{
  background: url('../img/3.jpg') no-repeat;
  background-size:100% auto;
}
#box-time{
  width:40%;
  height:auto;
  margin: 13% auto 0;
  text-align:center;
  background:#00000060;
  padding:20px 50px;
}
h1{
  color:white;
}
